body {
    margin: 0;
    width: 100%;
    height: auto;
    min-width: 1200px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

/* ////////////////////////////////////// */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    background-color: rgb(255, 157, 44);
}
.navbar-logo{
    transform: translateX(25%);
}
.navbar-links{
    transform: translateX(-25%);
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.navbar-links a {
    text-decoration: none;
    color: black;
}

/* ///////////////////////////////////// */

.hero {
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    position: relative;
}
.hero h2{
    background-color: rgba(255, 255, 255, 0.637);
    margin-bottom: 100px;
    padding: 20px 40px;
    position: absolute;
}

/* /////////////////////////////////// */

.everyday-recipes{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 150px;
}
.everyday-imgs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.everyday-imgs div {
    height: 100%;
    text-align: center;
    background-color: white;
}

/* ////////////////////////////////////////// */

.healthy-recipes{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(182, 221, 223);
    padding: 25px 150px;
}
.healthy-imgs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.healthy-imgs div {
    height: 100%;
    text-align: center;
    background-color: white;
}

/* ////////////////////////////////////////// */

.where-recipes{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 150px;
}
.where-imgs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.where-imgs div {
    height: 100%;
    text-align: center;
    background-color: white;
}

/* /////////////////////////////////////////// */

.endbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 157, 44);
}
.endbar p {
    transform:translateX(50%);
}
.endbar-links{
    transform: translateX(-25%);
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.endbar-links a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}