body {
    margin: 0;
    width: 100%;
    height: auto;
    min-width: 1200px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

/* ////////////////////////////////////// */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 157, 44);
}
.navbar-logo{
    transform: translateX(35%);
}
.navbar-logo:hover {
    cursor: pointer;
}
.navbar-links{
    transform: translateX(-25%);
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.navbar-links a:hover{
    transform: scale(1.06);
    color: black;
    
}
.navbar-links a {
    text-decoration: none;
    color: rgb(36, 36, 36);
    transition: all .5s;
}

/* ///////////////////////////////////// */

.hero {
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    position: relative;
}
.hero h2{
    background-color: rgba(255, 255, 255, 0.637);
    margin-bottom: 100px;
    padding: 20px 40px;
    position: absolute;
}

/* /////////////////////////////////// */

.everyday-recipes{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 150px;
}
.everyday-imgs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.everyday-imgs div {
    height: 100%;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

/* ////////////////////////////////////////// */

.healthy-recipes{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(182, 221, 223);
    padding: 25px 150px;
}
.healthy-imgs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.healthy-imgs div {
    height: 100%;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

/* ////////////////////////////////////////// */

.where-recipes{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 150px;
}
.where-imgs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.where-imgs img{
    border: 8px solid rgb(185, 185, 185);
}
.where-imgs div {
    height: 100%;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

/* /////////////////////////////////////////// */

.endbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 157, 44);
}
.endbar p {
    transform:translateX(75%);
}
.endbar-links{
    transform: translateX(-30%);
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.endbar-links a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

/* //////////////////////////////////////////////////// */

.burger-hero{
    background-image: url("../images/bengal-burger.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.burger-hero h2{
    background-color: rgba(255, 255, 255, 0.808);
    margin-bottom: 100px;
    padding: 20px 40px;
}

/* ////////////// */

.specs{
    width: 100%;
    height: 150px;
    background-color: rgb(225, 233, 255);
    padding: 50px 100px;
    display: flex;
    align-items: center;
}
.specs table{
    text-align: left;
    table-layout: auto;
    width: 100%;
}
.specs th{
    font-size: 26px;
    line-height: 40px;
}

/* /////////////// */

.recipe{
    width: 100%;
    padding: 75px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.recipe > h2{
    font-size: 40px;
    line-height: 10px;
}
.recipe-btns{
    margin-top: 10px;
}
.recipe-btns button{
    border-radius: 30px;
    font-size: 14px;
}
.save-recipe-btn{
    border: none;
    background-color: rgb(117, 0, 0);
    color: white;
    padding: 10px 20px;
}
.print-recipe-btn{
    background-color:rgba(255, 255, 255, 0);
    color: gray;
    border: 1px solid gray;
    padding: 10px;

}

 /* /////// */

.recipe-quote{
    margin-top: 40px;
    width: 100%;
    background-color: rgb(212, 212, 212);
    padding: 10px 100px;
    font-size: 20px;
    text-align: center;
}
.recipe-row{
    display: flex;
    width: 100%;
    font-size: 14px;
    line-height: 1.5em;
}

/* //////////////////// */

.embedded-video{
    width: 100%;
    padding: 50px;
    background-color: rgb(182, 221, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}